

.body {
    display: flex;
    align-content: center;
    justify-content: center;

}

.goodImg {
    border-radius: 30px;
    border-color: #b0c8f6;
}

.drum1 {
    background-image: url("resources/drum1.jpg");
}

.drum2 {
    background-image: url("resources/drum2.jpg");
}
.drum3 {
    background-image: url("resources/drum3.jpg");
}
.drum4 {
    background-image: url("resources/drum4.jpg");
}
.drum5 {
    background-image: url("resources/drum5.jpg");
}

.drum6 {
    background-image: url("resources/drum6.jpg");
}
.drum7 {
    background-image: url("resources/drum7.jpg");
}
.drum8 {
    background-image: url("resources/drum8.jpg");
}
.drum9 {
    background-image: url("resources/drum9.jpg");
}
.drum10 {
    background-image: url("resources/drum10.jpg");
}


.insideBody {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 50vh;
    width: 80vw;

    margin: -50px;
}

.buyBotton {
    align-self: center;
    padding: 4vw;
}


.btn {
    font-family: "Arial Black", Gadget, sans-serif;
    border: none;
    border-radius: 20px;
    background-color: #b0c8f6;
    width: 7vw;
    height: 3vw;
}

.good {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 15px;
}


.main {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin: 0;
    padding: 0;
}


.basket img{
    width: 4vw;
}

.insideHeader {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 30vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    background-color: lightgrey;
}

.mainHead {
    height: 30vh;
}

.navButton {
    /*font-family: Helvetica;*/
    font-size: x-large;
    font-feature-settings: normal;
    align-self: center;
}